{% extends "html/Main.html" %}
{% load static %}
{% block contentblock %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main' %}">Авто Газ Комплект</a></li>
            <li class="breadcrumb-item"><a href="{% url 'markshbo' %}">Марки ГБО</a></li>
            <li class="breadcrumb-item active">OMVL</li>

        </ol>
    </nav>
    <div class="table-flex">
        <div class="table-flex-item-left">
        <div class="table-left-item">
            <h4 class="description">
                OMVL
            </h4>
            <h4 class="description">
                ГБО OMVL — Гарантия мощности от мирового лидера
            </h4>
            <p>
               Качественное газобаллонное оборудование на авто – это не только залог минимизации
                транспортных расходов, но и надежность, долговечность топливной системы,
                увеличение ресурса двигателя, межсервисного интервала замены свечей зажигания и
                фильтров, снижение износа узлов мотора. Чтобы воспользоваться всеми этими преимуществами
                и гарантированно получить безотказное автогазовое оборудование, ГБО итальянской марки OMVL.
            </p>
            <h4 class="description">
                OMVL входит в состав Westport Fuel Systems
            </h4>
            <p>
                Основанная в 1980 году недалеко от Болоньи (Италия) компания OMVL в настоящее время
                является серьезным конкурентом продукции таких именитых производителей автомобильного
                газового оборудования, как BRC, Digitronic, Tomasetto, Atiker, Lovato и Zavoli.
                Это обусловлено рядом преимуществ, которые может предложить данный бренд владельцам легкового
                и грузового автотранспорта:
                <li style="color: #2d5c88">
                    Высокое качество комплектующих
                </li>
                Фирменные разработки метановых и пропановых редукторов,
            а также выносливых и скоростных форсунок получили высокие оценки экспертов.
            При этом вся продукция бренда имеет международные сертификаты соответствия
                <li style="color: #2d5c88">
                    Адаптация моделей к суровым условиям эксплуатации
                </li>
                Специально для российского рынка компания OMVL совместно с российским подразделением
            разработала линейку газового оборудования на авто «SAVER by OMVL».
            К ее отличительным особенностям относятся устойчивость к низким температурам и качеству топлива
                 <li style="color: #2d5c88">
                    Программа долгосрочного сотрудничества с ГАЗ
                </li>
                С 2010 года компания является официальным дилером завода ГАЗ, который комплектует
            автомобили модели «ГАЗель-Бизнес» ГБО OMVL на конвейере
                <li style="color: #2d5c88">
                    Разветвленная сеть сервисов технического обслуживания
                </li>
                Установить газовое оборудование OMVL на автомобиль можно в любом регионе России.
            При этом ежегодно компания расширяет сеть СТО, на которых вам предоставят профессиональное
            обслуживание мастера, прошедшие обучение в российском представительстве OMVL
                <li style="color: #2d5c88">
                    Выбор оптимального комплекта ГБО для транспортных средств любого типа
                </li>
            Газовое оборудование OMVL подходит для автомобилей любого типа:
            грузовых, легковых, а также спецтехники. Наиболее востребованными в настоящее
            время являются системы 4 поколения серии SAVER и NEW DREAM, оптимальные
            для инжекторных моторов. Преимуществом обновленной линейки «NEW DREAM»
            является усовершенствованный блок управления с точной регулировкой впрыска
            и распределения газа.
            </p>
            <h4 class="description">
                Компоненты ГБО «OMVL»
            </h4>
            <p>
                <img src="{% static "images/info-text-img.jpg" %}" alt="">
            </p>
            <ul>
                <li>
                    Газовый баллон.
                </li>
                <li>
                    Мультиклапан / Вентиль баллонный.
                </li>
                <li>
                    Выносное заправочное устройство (ВЗУ).
                </li>
                <li>
                    Регулятор давления (редуктор-испаритель).
                </li>
                <li>
                    Фильтр газа.
                </li>
                <li>
                    Рампа газовых инжекторов.
                </li>
                <li>
                    Электронный блок управления (ЭБУ) системой ГБО.
                </li>
                <li>
                    Датчик давления и разряжения газа.
                </li>
            </ul>
            Газовый баллон (1), как правило, устанавливается в багажник за сиденьем,
            либо вместо запасного колеса. Баллон оснащен мультиклапаном (для пропана)
            или вентилем (для метана) (2). Через заправочное устройство (3) газ поступает
            в баллон. Во время работы двигателя, газ подается в редуктор(4),
            в котором происходит испарение жидкой фазы и снижение давления.
            Далее газ проходит очистку от взвешенных частиц в фильтре (5) и через
            газовые инжекторы (6) подается во впускной коллектор двигателя.
            Вся система контролируется электронным блоком управления (7).
            Блок управления «OMVL» с функцией OBD коррекции автоматически регулирует
            подачу газа в процессе эксплуатации автомобиля, что способствует достижению
            максимальной экономии.
        </div>
        </div>
        <div class="table-flex-item-right">
            <h4 style="color: #2d5c88;margin-bottom: 15px">
                    Записи в блоге
            </h4>
            <div class="table-right-item" style="margin-bottom: 10px" >
                <img src="{% static "images/чистаяэкономия94x70.jpg" %}" alt="" style="float: left; margin-right: 10px">
                <a href="/blog/1">Программа «Чистая Экономия»</a>
            </div>
            <div class="table-right-item" style="margin-bottom: 10px" >
                <img src="{% static "images/HBOpayback.png" %}" alt="" width="94px"height="70px" style="float: left; margin-right: 10px">
                <a href="/blog/2">Окупаемость ГБО</a>
            </div>
            <div class="table-right-item" style="margin-bottom: 10px" >
                <img src="{% static "images/GBOdocuments.png" %}" alt="" width="94px"height="70px" style="float: left; margin-right: 10px">
                <a href="/blog/3">Документы на ГБО</a>
            </div>
            <div class="table-right-item" style="margin-bottom: 10px" >
                <img src="{% static "images/Газовая-установка-на-дизель-94x70.jpg" %}" alt="" width="94px"height="70px" style="float: left; margin-right: 10px">
                <a href="/blog/4">Газовая установка на дизель</a>
            </div>
            <div class="table-right-item" style="margin-bottom: 10px" >
                <img src="{% static "images/ГБО-пропан-94x70.jpg" %}" alt="" width="94px"height="70px" style="float: left; margin-right: 10px">
                <a href="/blog/5">ГБО метан</a>
            </div>
            <div class="recording">
                <h5>Возникли вопросы? Спрашивайте!</h5>
                <p style="font-size: 12px">Наши специалисты свяжутся с Вами и помогут.</p>
                <form action="#" class="recording-form" method="post">
                    <input type="text" name="name" value="" placeholder="Ваше имя" class="d-block" style="margin-bottom: 10px">
                    <input type="tel" name="phone" value="" placeholder="Телефон" class="d-block">
                    <button type="submit" class="btn btn-primary btn-lg" class="d-block">Отправить</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}