{% extends "html/Main.html" %}
{% load static %}
{% block contentblock %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main' %}">Авто Газ Комплект</a></li>
            <li class="breadcrumb-item"><a href="{% url 'markshbo' %}">Марки ГБО</a></li>
            <li class="breadcrumb-item active">STAG</li>

        </ol>
    </nav>
    <div class="table-flex">
        <div class="table-flex-item-left">
        <div class="table-left-item">
            <h4 class="description">
               STAG газоболонное оборудование
            </h4>
            <p>
                В настоящее время огромной популярностью пользуется ГБО СТАГ 4 поколения.
                Отзывы покупателей прямо говорят об этом. Что представляет собой эта система в самом общем виде?
                Представляем для тех, кто никогда еще с ней не сталкивался, небольшое видео о ее возможной комплектации.
            </p>
            <h4 class="description">
               Сразу уточним:
            </h4>
            <p>
                <ul>
            <li>
                Не факт, что в каждом отдельном случае (или на отдельно взятой СТО) комплект ГБО СТАГ 4 поколения будет именно таким.
                Чуть ниже объясним, почему.
            </li>
            <li>
                Второе уточнение: цель статьи состоит в том, чтобы сгруппировать все отзывы для удобства посетителя,
                чтобы он не рылся в Интернете сутки.
                Только отзывы с минимумом чисто технической информации.
            </li>
            <li>
                Для начала стоит разъяснить некоторые мифы и «непонятки»:<br>
                Как разобраться с производителем? На СТО любят вешать лапшу на уши по поводу лучших итальянских
                узлов системы ГБО СТАГ-4. Но нужно помнить, что STAG — это польская фирма. И блок управления должен
                быть именно от нее! А вот комплектация всего набора уже может быть разной. К польскому БУ могут прилагаться
                итальянские редуктор и форсунки (последние могут быть и польского производства по итальянской лицензии).
            </li>
            <li>
                STAG-4 может быть установлен на все модели машин, имеющих 1-4-цилиндровые бензиновые двигатели.
                Конкретно: Turbо, Valvetronic, а также с sequential, semisequential, full group (последовательным,
                полупоследовательным и непоследовательным) впрыском.
            </li>
            <li>
                Польская фирма выпускает не только модификацию ГБО СТАГ-4. На СТО могут предложить всю линейку.
                На ее вершине находится устройство PREMIUM (STAG 300 premium). Затем идут PLUS (STAG 300 plus) и STANDART (STAG 4).
                Замыкает линейку бюджетный вариант ECONOMI (STAG 200). Нужно четко представлять себе,
                что различные модификации приборов имеют большую разницу в цене.
            </li>
        </ul>
            </p>
            <h4 class="description">
                Теперь конкретно о ГБО СТАГ 4 поколения, отзывах, советах.
            </h4>
            <p>
                Достоинства монтируемого газобаллонного оборудования:
                <li>
            Почти во всех отзывах о ГБО Stag 4 поколения отмечается значительная экономия расхода топлива после установки узла.
            Это и неудивительно, именно для экономии бензина мы его и ставим. Покупателями отмечен такой факт. Если одна заправка
            бака бензином обойдется, отвлеченно говоря в 15$, то проехать можно будет порядка 300 километров. За те же деньги (15$)
            на газе можно проехать около 450 км. Иными словами, каждая третья поездка обходится бесплатно.
        </li>
            <li>
                Значительная экономия топлива наблюдается и при езде по городу,
                но в этом случае выигрыш гораздо меньше. Объясняется это тем, что на холодном двигателе
                машина вынуждена ехать несколько километров на бензине.
            </li>
            <li>
                К самому блоку управления Stag 4 претензий нет ни у кого, ГБО Stag 4 поколения — очень надежный агрегат.
            </li>
            <li>

                Рейка газовых форсунок (самая популярная — OMVL Fast Light) работает без нареканий.
                Во всяком случае, в отзывах не упоминались ошибки открытых инжекторов.
            </li>
            <li>
                Автомобиль получает две независимые системы питания движка.
                Т.е. авто становится более автономным и меньше зависит от заправок всех видов. Риск форс-мажора уменьшается.
            </li>
            <li>
                Нельзя также не отметить и тот явно положительный факт, что по наблюдениям автолюбителей после перехода на
                газ в поршневой группе образуется меньшее количество нагара. Это, впрочем, понятно, т.к.
                газ чище отечественных марок бензина.
            </li>
            <li>
                Родная бензиновая система (форсунки и т.д.) изнашивается меньше.
            </li>
            </p>
            <h4 class="description">
                Что можно сказать о недостатках ГБО СТАГ 4 поколения, критичны ли они:
            </h4>
            <p>
                К сожалению, в отзывах имеется немало указаний на недочеты.<br>
                <li>
            Подавляющее большинство водителей монтируют редукторы фирмы TOMASETTO, и это оправданный выбор. Они очень надежные.
            Но разные их варианты (AT09 Normal, AT09 Alaska, AT09 Artic) имеют существенный разброс по цене.
        </li>
            <li>
               Даже Stag premium не обеспечивает полной автоматики. Его приходится сначала калибровать вручную,
                а также перед запуском OBD настраивать температурную коррекцию.
                Небольшой минус блока управления — он не всегда корректно считывает обороты.
            </li>
            <li>
                Порой «гуляет» давление редуктора AC Autogas. Кое-кто меняет его на Bigas.
            </li>
            <li>
                Большие претензии у автовладельцев к баллону. Он очень тяжелый. Даже пустой он весит около 20 кг, заправленный — до 40 кг.
                Т.е. полезная нагрузка уменьшается.  К слову, если куплен турецкий баллон, то сильно радоваться не стоит.
                Да, он легче остальных, но турки сильно любят экономить на толщине металла.
            </li>
            <li>
                Появляется проблема с запаской. Иногда ее просто негде хранить.
            </li>
            Таковы в общих чертах отзывы о ГБО СТАГ 4 поколения. Несмотря на отдельные недостатки, система себя оправдывает.
            Что касается вопроса о якобы имеющихся случаях прогорания клапанов, поршней, прогорания прокладки головки БЦ.
            По большей части все эти беды от некачественного монтажа. Монтаж газоболонного оборудования должны делать профи.
            </p>
        </div>
        </div>
        <div class="table-flex-item-right">
            <h4 style="color: #2d5c88;margin-bottom: 15px">
                    Записи в блоге
            </h4>
           <div class="table-right-item" style="margin-bottom: 10px" >
                <img src="{% static "images/чистаяэкономия94x70.jpg" %}" alt="" style="float: left; margin-right: 10px">
                <a href="/blog/1">Программа «Чистая Экономия»</a>
            </div>
            <div class="table-right-item" style="margin-bottom: 10px" >
                <img src="{% static "images/HBOpayback.png" %}" alt="" width="94px"height="70px" style="float: left; margin-right: 10px">
                <a href="/blog/2">Окупаемость ГБО</a>
            </div>
            <div class="table-right-item" style="margin-bottom: 10px" >
                <img src="{% static "images/GBOdocuments.png" %}" alt="" width="94px"height="70px" style="float: left; margin-right: 10px">
                <a href="/blog/3">Документы на ГБО</a>
            </div>
            <div class="table-right-item" style="margin-bottom: 10px" >
                <img src="{% static "images/Газовая-установка-на-дизель-94x70.jpg" %}" alt="" width="94px"height="70px" style="float: left; margin-right: 10px">
                <a href="/blog/4">Газовая установка на дизель</a>
            </div>
            <div class="table-right-item" style="margin-bottom: 10px" >
                <img src="{% static "images/ГБО-пропан-94x70.jpg" %}" alt="" width="94px"height="70px" style="float: left; margin-right: 10px">
                <a href="/blog/5">ГБО метан</a>
            </div>
            <div class="recording">
                <h5>Возникли вопросы? Спрашивайте!</h5>
                <p style="font-size: 12px">Наши специалисты свяжутся с Вами и помогут.</p>
                <form action="#" class="recording-form" method="post">
                    <input type="text" name="name" value="" placeholder="Ваше имя" class="d-block" style="margin-bottom: 10px">
                    <input type="tel" name="phone" value="" placeholder="Телефон" class="d-block">
                    <button type="submit" class="btn btn-primary btn-lg" class="d-block">Отправить</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}