{% extends "html/Main.html" %}
{% load static %}
{% block contentblock %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main' %}">Авто Газ Комплект</a></li>
            <li class="breadcrumb-item active" aria-current="page">ТО ГБО</li>
        </ol>
    </nav>
    <p>
        Компания «Центр Газ» приглашает пройти техническое обслуживание, диагностику газоболонного оборудования:<br>
        <ul>
        <li>
            Выявим и устраним неисправности на ранней стадии и поможем сэкономить на капитальном ремонте.
        </li>
        <li>
            Обслуживаем иномарки и отечественные автомобили.
        </li>
        </ul>
        <h5 style="color: #557a8a ">Своевременный контроль и уход за автомобилем поможет:<br></h5>
        <ul>
            <li>
             <b style="color: #2d5c88">Сэкономить.</b>Если вовремя обнаружить неисправность, ремонт обойдется дешевле. Иногда достаточно заменить одну деталь, чем потом менять весь узел.
            </li>
            <li>
             <b style="color: #2d5c88">Снизить расход топлива.</b>По необходимости заменим фильтры и снизим расход на 1-1,5 л/100 км.
            </li>
            <li>
             <b style="color: #2d5c88">Быть в безопасности.</b>Почистим форсунки, устраним утечки.
            </li>
        </ul>
        Чтобы избежать проблем на дороге, вовремя проводите ТО газобалонного оборудования в компании «Центр Газ». Предоставляем гарантию на выполненную работу!<br>
        <h5 style="color: #557a8a ">Как часто нужно ТО или Диагностика в ГБО и что входит в услугу:<br></h5>
        Рекомендуем проходить ТО или Диагностику планово при смене сезонов, когда из-за перепадов температуры меняется состав газовой смеси, а также каждые 10 000 км.
        <h5 style="color: #557a8a ">Тех.обслуживание включает в себя:<br></h5>
        <ul>
            <li>
             <b style="color: #2d5c88">Замена фильтров.</b>Заменим газовой фазы и жидкой фазы на редукторе при прохождении каждых 10 000 км.
            </li>
            <li>
             <b style="color: #2d5c88">Замена масла и масляного фильтра.</b> При желании можете совместить ТО ГБО и ТО автомобиля. Можем поменять масло в двигателе, воздушный фильтр. Для тех, кто решил сделать два ТО одновременно, есть бонус. Подробнее в разделе Акции.
            </li>
            <li>
             <b style="color: #2d5c88">Быть в безопасности.</b>Почистим форсунки, устраним утечки.
            </li>
        </ul>
    <h5 style="color: #557a8a ">Диагностика включает в себя:<br></h5>
        <ul>
            <li>
             <b style="color: #2d5c88">Настройка ГБО.</b>Со временем диафрагмы в редукторе ГБО вытягиваются, форсунки прирабатываются, в них меняются зазоры. Все это приводит к неоптимальной работе ГБО, а значит к повышенному расходу.
            </li>
            <li>
             <b style="color: #2d5c88">Проверка крепления элементов ГБО.</b> Вибрации во время движения могут ослабить крепления элементов ГБО. Проверим редуктор-испаритель, электромагнитные клапаны, газовой баллон, а также рукава подвода охлаждающей жидкости и газа.
            </li>
            <li>
             <b style="color: #2d5c88">Проверка утечек газа.</b>С помощью специальной жидкости, а иногда и с помощью специального газоанализатора проводится проверка утечек. Утечек быть не должно, а значит, не должно быть и запаха.
            </li>
        </ul>
    <h5 style="color: #557a8a ">Стоимость ТО или Диагностики<br></h5>
    Стоимость ТО или диагностика зависит от модели автомобиля, типа системы, наличия неисправностей. Цены определяются индивидуально при осмотре. Для экономии мы:<br>
    <ul>
            <li>
             <b style="color: #2d5c88">Делаем скидку 10%.</b>При заказе за 1 месяц и предоплате 20%.
            </li>
            <li>
             <b style="color: #2d5c88">Дарим бонусы.</b> Приведите двух друзей на установку оборудования и получите первое ТО в подарок
            </li>
        </ul>
    </p>
    <div class="recording" style="margin-bottom: 40px">
            <h2 class="description">
                У Вас есть вопросы? Оставьте контактные данные, мы перезвоним и ответим на них:
             </h2>
            <form action="#" class="recording-form" method="post">
                <input type="text" name="name" value="" placeholder="Ваше имя">
                <input type="tel" name="phone" value="" placeholder="Телефон">
                <button type="submit" class="btn btn-primary btn-lg">Отправить</button>
            </form>
        </div>

</div>
{% endblock %}